<DModalBody
  @title={{concat "discourse_policy.builder.title"}}
  @class="policy-builder"
>
  <PolicyBuilderForm
    @policy={{policy}}
    @onChange={{action "onChangeFormField"}}
  />
</DModalBody>

<div class="modal-footer">
  {{#if insertMode}}
    <DButton
      @type="button"
      class="btn-primary"
      @label="discourse_policy.builder.insert"
      @action={{action "insertPolicy"}}
    />
  {{else}}
    <DButton
      @isLoading={{isSaving}}
      @type="button"
      class="btn-primary"
      @label="discourse_policy.builder.save"
      @action={{action "updatePolicy"}}
    />
  {{/if}}
</div>