<h3>{{i18n "discourse_policy.preferences.title"}}</h3>

<div class="control-group policy-setting controls-dropdown">
  <label for="user_policy_email_frequency">
    {{i18n "discourse_policy.preferences.policy_emails.label"}}
  </label>

  <ComboBox
    @valueProperty="value"
    @content={{policyEmailFrequencyOptions}}
    @value={{model.user_option.policy_email_frequency}}
    @id="user_policy_email_frequency"
    @onChange={{fn (mut model.user_option.policy_email_frequency)}}
  />

  {{#if (eq model.user_option.policy_email_frequency "always")}}
    <div class="control-instructions">
      {{i18n "discourse_policy.preferences.policy_emails.always_description"}}
    </div>
  {{else if (eq model.user_option.policy_email_frequency "when_away")}}
    <div class="control-instructions">
      {{i18n "discourse_policy.preferences.policy_emails.away_description"}}
    </div>
  {{/if}}
</div>